body{
    /* background-image: url('/background.jpg');
    background-size: 100% 100%; */
    background-color: rgb(255, 202, 181);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border:10px solid rgb(248, 247, 250);
    margin:0;
}

#title{
    background-color: antiquewhite;
    font-family:Langar;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
#title>h1{
    margin:0rem;
}

#title>p{
    font-size: 30px;
    background-color: black;
    border-radius: 5px;
    color:cornsilk;
    margin: 1rem;
}

#modify{
    background-color: rgb(190, 68, 11);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#insert{
    padding:0.5rem;
}

#sub_del{
    background-color:rgb(78, 1, 1);
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label{
    font-size: 20px;
    font-family:Langar;
    margin:0 1rem 0 0;
}

#memebar{
    display: flex;
    flex-wrap: wrap;
}
a{
    display: flex;
    flex-direction: column;
    margin:1rem 1rem 0 1rem;
    text-decoration: none;
    width:150px;
}
a>p{
    margin:0.5rem 0 0 0;
    background-color:rgb(190, 68, 11);
    border-radius: 10px;
    color:white;
    display:flex;
    justify-content: center;
    width:135px;
    font-family: langar;
    }
p>button{
    margin:0 0 0 0.5rem;
}
p>button:hover{
    border: solid 5px white;
    border-radius: 10px;
    color:red;
}
a>img{
    height:125px;
    width:125px;
    border:5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.gifs{
    height:100px;
    width:100px;
    margin:0px;
}
a>img:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    border:5px solid rgb(0, 0, 0);
  }

#memesingle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#memelarge{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(190, 68, 11);
    width: 100%;
}
#memelarge>img{
    height:400px;
    width:400px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border:5px solid rgb(0, 0, 0);
}

#submitter{
    font-size: 1rem;
    color:rgb(0, 0, 0)
}
np
form{
    display: flex;
    flex-direction: column;
    margin:0;
}
form>div{
    display: flex;
    justify-content: space-between;
}
form>button{
    background-color: rgb(51, 51, 51);
    margin:1rem 0 0 0;
    color:cornsilk;
}

#bottombar{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(255, 145, 0);
    height:20vh;
    margin:2rem 0 0 0;
}